<div class="slider-item local-weather active">
	{# screen 1, local conditions #}
	{% include 'local/localheader.j2' %}
	<p style="text-align:center;">CURRENT CONDITIONS</p>
	<p>TEMP {{ weather_data.hourly[0]['temperature'] }} {{ weather_data.hourly[0]['temperatureUnit'] }}</p>
	<p>WIND {{ weather_data.hourly[0]['windSpeed'] }} {{ weather_data.hourly[0]['windDirection'] }}</p>
	<p>{{ weather_data.hourly[0]['shortForecast'].upper() }}</p>
	<p style="text-align:center;">CHANCE OF PRECIP. {{ weather_data.hourly[0]['probabilityOfPrecipitation']['value'] }} %</p>
	<p>HUMIDITY {{ weather_data.hourly[0]['relativeHumidity']['value'] }} %</p>
	{% if weather_data.dewpoint is number %}
		<p>DEWPOINT {{ weather_data.dewpoint }} F</p>
	{% endif %}
	<p>VISIBLTY {{ weather_data.visibility }} MI</p>
	{% if weather_data.heatindex is number %}
		<p>HEATINDX {{ weather_data.heatindex }} F</p>
	{% endif %}
	{% if weather_data.windchill is number %}
		<p>WNDCHILL {{ weather_data.windchill }} F</p>
	{% endif %}
</div>