<div class="slider-item local-radar">
	{# local radar loop #}
	{% include 'local/localheader.j2' %}
	<p style="text-align:center;">LOCAL RADAR</p>
	<img src={{ weather_data.radarimg }} alt="45 MINUTE RADAR LOOP">
</div>