<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="main-container">
		<div class="title-container">
			<h1>{{ title }}</h1>
		</div>
        <div class="clock-container">
            <span id="current-time"></span>
        </div>

        <div class="display-area">
            <div class="slider-item local-weather active">
				<!--screen 1, local conditions-->
                <h1>{{ weather_data.location }} UPDATED: {{ weather_data.update_time }}</h1>
				<p style="text-align:center;">CURRENT CONDITIONS</p>
                <p>TEMP {{ weather.temperature }}</p>
                <p>WIND {{ weather.wind.direction }} {{ weather.wind.speed }}</p>
                <p>{{ weather.condition.upper() }}</p>
				<p style="text-align:center;">CHANCE OF PRECIP. {{ weather.precipchance }} %</p>
				<p>HUMID {{ weather.humidity }} %</p>
				<p>VISBY {{ weather.visibility }}</p>
				<p>DEWPT {{ weather.dewpoint }}</p>
				<p>PRESS {{ weather.pressure }}</p>
            </div>
			<div class="slider-item local-alerts">
				<!--local alerts-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
				<p style="text-align:center;">WEATHER ADVISORIES</p>
				<p>{{ len(weather.alerts) }} ACTIVE WEATHER ALERTS</p>
			</div>
			<div class="slider-item local-forecast-1">
				<!--screen 2, local short-term forecast-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ forecast[0]['name'].upper() }}...{{ forecast[0]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-forecast-2">
				<!--local short-term forecast and alerts-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ forecast[1]['name'].upper() }}...{{ forecast[1]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-forecast-3">
				<!--local short-term forecast and alerts-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ forecast[2]['name'].upper() }}...{{ forecast[2]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-radar">
				<!--local radar loop-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
				<p style="text-align:center;">LOCAL RADAR</p>
				<img src={{ weather.radar }} alt="45 MINUTE RADAR LOOP">
			</div>
			<div class="slider-item local-seven-day">
				<!--screen 3, local upcoming weekly forecast-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
			</div>
			<div class="slider-item local-averages">
				<!--screen 4, local hi/lo averages-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
			</div>
			<div class="slider-item local-almanac">
				<!--screen 5, local sunrise/sunset, moon phase forecast-->
				<h1>{{ weather.location }} {{ weather.forecastdate }}</h1>
			</div>
			<div class="slider-item national-weather-1">
				<!--screen 6, extrazips current conditions-->
			</div>
			<div class="slider-item national-weather-2">
				<!--screen 7, extrazips current conditions-->
			</div>
			<div class="slider-item national-weather-3">
				<!--screen 8, extrazips current conditions-->
			</div>
        </div>

        <div class="ticker-wrap">
            <div class="ticker">
                <p>{{ news.scrolling_text }}</p>
            </div>
        </div>
    </div>

    <script>
        function updateClock() {
            const localTime = new Date();

            const hours = String(localTime.getHours()).padStart(2, '0');
            const minutes = String(localTime.getMinutes()).padStart(2, '0');
            const seconds = String(localTime.getSeconds()).padStart(2, '0');
            const currentTime = `${hours}:${minutes}:${seconds}`;

            document.getElementById('current-time').textContent = currentTime;
        }

        setInterval(updateClock, 1000);
        updateClock(); 
    </script>
</body>
