<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ prog }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
	<style>
		.ticker {
			animation: ticker-animation {{ news_data.speed ~ 's' }} linear infinite;
		}
	</style>
</head>
<body>
    <div class="main-container">
        <div class="header-area">
            <div class="title-container">{{ title }}</div>
            <div class="clock-container"><span id="current-time"></span></div>
        </div>

        <div class="display-area" id="slides">
			{% include 'local.j2' %}
			{# include 'national.j2' #}
        </div>

        <div class="ticker-wrap">
            <div class="ticker" id="ticker">{{ news_data.ticker }}</div>
        </div>
    </div>

	<script src="static/js/clock.js"></script>
	<script src="static/js/slider.js"></script>
	<script src="static/js/update.js"></script>
	{% if music == "ON" %}
		<audio id="music-player" autoplay></audio>
		<script>
			const mp3Files = {{ music_files | tojson }};
		</script>
		<script src="static/js/music.js"></script>
	{% endif %}
</body>
