<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="main-container">
		<div class="title-container">
			<h1>{{ title }}</h1>
		</div>
        <div class="clock-container">
            <span id="current-time"></span>
        </div>

        <div class="display-area">
            <div class="slider-item local-weather active">
				<!--screen 1, local conditions-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">CURRENT CONDITIONS</p>
                <p>TEMP {{ weather_data.hourly[0]['temperature'] }} {{ weather_data.hourly[0]['temperatureUnit'] }}</p>
                <p>WIND {{ weather_data.hourly[0]['windSpeed'] }} {{ weather_data.hourly[0]['windDirection'] }}</p>
                <p>{{ weather_data.hourly[0]['shortForecast'].upper() }}</p>
				<p style="text-align:center;">CHANCE OF PRECIP. {{ weather_data.hourly[0]['probabilityOfPrecipitation']['value'] }} %</p>
				<p>HUMID {{ weather_data.hourly[0]['relativeHumidity']['value'] }} %</p>
				{% if weather_data.dewpoint is number %}
					<p>DEWPT {{ weather_data.dewpoint }} F</p>
				{% endif %}
				<p>VISBY {{ weather_data.visibility }} MI</p>
				{% if weather_data.heatindex is number %}
					<p>HTIDX {{ weather_data.heatindex }} F</p>
				{% endif %}
				{% if weather_data.windchill is number %}
					<p>CHILL {{ weather_data.windchill }} F</p>
				{% endif %}
            </div>
			<div class="slider-item local-alerts">
				<!--local alerts-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">WEATHER ADVISORIES</p>
				<p>{{ weather_data.alerts['features']|length }} ACTIVE WEATHER ALERTS</p>
				{% if weather_data.alerts['features']|length > 0 %}
					<br>
					{% for i in weather_data.alerts['features'] %}
					<p>{{ i['properties']['parameters']['NWSheadline'][0].upper() }}</p>
					<br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="slider-item local-hourly">
				<!--local next 6 hours-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">NEXT 6 HOURS</p>
			</div>
			<div class="slider-item local-forecast-1">
				<!--local short-term forecast-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ weather_data.forecast[0]['name'].upper() }}...{{ weather_data.forecast[0]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-forecast-2">
				<!--local short-term forecast-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ weather_data.forecast[1]['name'].upper() }}...{{ weather_data.forecast[1]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-forecast-3">
				<!--local short-term forecast-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">LOCAL FORECAST</p>
				<p>{{ weather_data.forecast[2]['name'].upper() }}...{{ weather_data.forecast[2]['detailedForecast'].upper() }}</p>
			</div>
			<div class="slider-item local-radar">
				<!--local radar loop-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
				<p style="text-align:center;">LOCAL RADAR</p>
				<img src={{ weather_data.radarimg }} alt="45 MINUTE RADAR LOOP">
			</div>
			<div class="slider-item local-seven-day">
				<!--local upcoming weekly forecast-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
			</div>
			<div class="slider-item local-averages">
				<!--local hi/lo averages-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
			</div>
			<div class="slider-item local-almanac">
				<!--local sunrise/sunset, moon phase forecast-->
				<h1>{{ weather_data.city.location }} UPDATED: {{ weather_data.updated }}</h1>
			</div>
			<div class="slider-item national-weather-1">
				<!--screen 6, extrazips current conditions-->
			</div>
			<div class="slider-item national-weather-2">
				<!--screen 7, extrazips current conditions-->
			</div>
			<div class="slider-item national-weather-3">
				<!--screen 8, extrazips current conditions-->
			</div>
        </div>

        <div class="ticker-wrap">
            <div class="ticker"></div>
        </div>
    </div>

	<script src="static/js/clock.js"></script>
	<script src="static/js/slider.js"></script>
</body>
