{% include 'local/localweather.j2' %}
{% include 'local/localalerts.j2' %}
{% include 'local/localhourly.j2' %}
{% include 'local/localforecast.j2' %}
{% include 'local/localradar.j2' %}
{% include 'local/localweekly.j2' %}
{% include 'local/localalmanac.j2' %}
