<div class="slider-item national-weather-1">
	<!--screen 6, extrazips current conditions-->
</div>
<div class="slider-item national-weather-2">
	<!--screen 7, extrazips current conditions-->
</div>
<div class="slider-item national-weather-3">
	<!--screen 8, extrazips current conditions-->
</div>
